.hero-text-box {
  width: 50%;
  @include responsive('small'){
    width: 100%;
  }

  h3 {
    @include responsive("small") {
      font-size: 15px !important;
    }
  }
  p {
    @include responsive("medium") {
      font-size: 15px;
    }

    @include responsive("small") {
      font-size: 10px;
    }
  }
  .hero-products-btn {
    width: 30%;
    color:red;
    @include responsive("medium") {
      font-size: 10px;
    }
    // @include responsive("small") {
    //   width: 50%;
    // }
  }
  .hero-contact-btn {
    width: 30%;
    @include responsive("medium") {
      font-size: 10px;
    }
    // @include responsive("small") {
    //   width: 50%;
    // }
  }
}

.hero-box {
  clip-path: polygon(34% 100%, 61% 0, 100% 0%, 100% 100%);
  img{
    object-position: right;
  }
  @include responsive("medium") {
    background-size: contain;
  }

  @include responsive("small") {
    clip-path: none;
    background-image: none;
  }
}

#hero-section {
  height: 500px;
  background-color: rgba(31, 38, 49, 1);
  @include responsive("large") {
    height: 400px;
  }
  @include responsive("medium") {
    height: 300px;
  }

  @include responsive("small") {
    height: 200px;
  }
}

#product-slider{
  .swiper-pagination{
    position: relative;
    bottom: -5px;
  }
  .single-product-slide{
    height: 400px;
    @include responsive('medium'){
      height: 350px;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
}

#chosen-slider{
  // border: 2px solid red;
  width: 90%;
  margin: auto;
  .single-chosen-slide{
    height: 500px;
    @include responsive('medium'){
      height: 400px;
    }
    @include responsive('small'){
      height: 300px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .more-explore-btn{
    transition: 1s;
    &:hover{
      background-color: black;
    }
  }
  .swiper-slide{
    text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    @include responsive('medium'){
      height: 400px;
    }  
  }
  .swiper-pagination{
    position: relative;
    bottom: -5px;
    // padding: 0;
  }
}

.single-statistic-box{
 .statistic-overlay{
  background-color: rgba(0, 0, 0, 0.63);
  h3{
    font-size: 60px;
  }
 } 
}



// #chosen-slider {
//   width: 90%;
//   margin: auto;

//   .chosen-title {
//     width: 100%;
//     text-align: center;
//     padding-block: 20px;

//     h2 {
//       position: relative;
//       width: fit-content;
//       display: inline;
//       font: 500 20px/30px Montserrat;
//       color:  red !important;
//     }
//   }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     position: relative;
//   }
// }

// #video-slider {
//   .video-text {
//     width: 90%;
//     margin: auto;
//     padding-block: 20px;
//     margin-top: 30px;

//     h2 {
//       position: relative;
//       width: fit-content;
//       display: inline;
//       font: 500 20px/30px Montserrat;

//       &::before {
//         content: "";
//         position: absolute;
//         top: -20%;
//         left: 50%;
//         transform: translateX(-50%);
//         height: 2px;
//         width: 90%;
//         background-color: #fff212;
//       }
//     }
//   }

//   .swiper {
//     position: relative;
//     height: 350px;

//     .swiper-wrapper {
//       .swiper-slide {
//         padding: 0 10px;

//         .video-container {
//           position: relative;

//           video {
//             filter: brightness(80%);
//             width: 100%;
//             height: 350px;
//             cursor: pointer;
//           }

//           .play-pause-btn {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             width: 50px;
//             height: 50px;
//             border: 2px solid #fff;
//             border-radius: 50%;
//             cursor: pointer;

//             i {
//               position: absolute;
//               top: 50%;
//               left: 50%;
//               transform: translate(-50%, -50%);
//               font-size: 22px;
//               color: #fff;
//             }

//             .fa-pause {
//               display: none;
//             }
//           }
//         }
//       }
//     }
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

#partners {
  padding-block: 40px;
  width: 90%;
  margin: auto;
  text-align: center;

  .heading {
    position: relative;
    width: fit-content;
    display: inline;
    text-align: center;
    font: 500 20px/30px Montserrat;
  }

  .swiper {
    margin: 20px 0;
    .swiper-slide {
      // border: 2px solid red;
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        align-self: center;
        filter: grayscale(1);
        transition: 0.3s;

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

#statistics{
  .single-statistic-box{
    height: 200px;
  }
}

@media (min-width: 578px) {
  #count-section {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;

    .background-image {
      background-image: url("/images/1.jpg");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .content {
      flex-direction: row;
      justify-content: space-between;

      h2 {
        text-align: start;
        line-height: 22px;
        font-family: Montserrat;
        font-weight: 400;
        width: 40%;
      }

      .statistika {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10px;

        .stat-item {
          text-align: center;

          .count {
            font-size: 32px;
            font-weight: bold;
            color: #e91e63;
          }

          p {
            margin: 10px 0 0;
            font-size: 16px;
            font-family: poppins;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #banner-slider {
    height: 450px;

    p {
      font-size: 38px;
      line-height: 48px;
    }
  }

  #home-drink {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .drink-img {
      width: 45%;

      img {
        width: 100%;
      }
    }

    .drink-text {
      width: 55%;
      padding: 0 10px;
    }
  }

  #chosen-slider {
    .chosen-title {
      h2 {
        font: 500 24px/38px Montserrat;
      }
    }
  }

  #product-slider {
    .product-title {
      h2 {
        font: 500 24px/38px Montserrat;
      }
    }
  }

  #count-section {
    .background-image {
      height: 360px;
    }

    .content {
      padding: 60px 20px;

      h2 {
        font-size: 30px;
        line-height: 38px;
      }

      .statistika {
        gap: 20px;

        .stat-item {
          .count {
            font-size: 60px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  #partners {
    .heading {
      font: 500 24px/38px Montserrat;
    }
  }

  // video slider

  #video-slider {
    .video-text {
      h2 {
        font: 500 24px/38px Montserrat;
      }
    }
  }

  #partners {
    .heading {
      font-size: 30px;
    }
  }
}

@media (min-width: 992px) {
  #banner-slider {
    height: 600px;

    p {
      font-size: 52px;
      line-height: 64px;
    }
  }

  #home-drink {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .drink-img {
      width: 40%;

      img {
        width: 100%;
      }
    }

    .drink-text {
      h2 {
        text-align: start;
        font: 400 24px/36px poppins;
        color: #fff212;
        margin-bottom: 10px;
      }

      p {
        text-align: start;
        font: 400 16px/20px poppins;
        color: #636363;
      }
    }
  }

  #chosen-slider {
    .chosen-title {
      margin-bottom: 20px;

      h2 {
        font: 500 36px/48px Montserrat;
      }
    }
  }

  #partners {
    .heading {
      font: 500 36px/48px Montserrat;
    }
  }

  #product-slider {
    .product-title {
      h2 {
        font: 500 36px/48px Montserrat;
      }
    }
  }

  #video-slider {
    .video-text {
      h2 {
        font: 500 36px/48px Montserrat;
      }
    }
  }

  #count-section {
    .background-image {
      height: 400px;
    }

    .content {
      padding: 80px 20px;

      h2 {
        font-size: 48px;
        line-height: 58px;
        width: 50%;
      }

      .statistika {
        gap: 60px;

        .stat-item {
          .count {
            font-size: 80px;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #banner-slider {
    height: 600px;

    p {
      font-size: 64px;
      line-height: 78px;
    }
  }

  #home-drink {
    .drink-text {
      h2 {
        text-align: start;
        font: 400 48px/72px poppins;
      }

      p {
        text-align: start;
        font: 400 20px/30px poppins;

        span {
          font-weight: 600;
        }
      }
    }
  }

  #partners {
    .heading {
      font: 500 48px/58px Montserrat;
    }
  }

  #chosen-slider {
    .chosen-title {
      h2 {
        font: 500 48px/58px Montserrat;
      }
    }
  }

  #product-slider {
    .product-title {
      h2 {
        font: 500 48px/58px Montserrat;
      }
    }
  }
}
