
.product{
  text-decoration: none;
  color: black;
  img{
    height: 400px;
    object-fit: cover;
    @include responsive('medium'){
      height: 200px;
    }
    @include responsive('small'){
      height: 150px;
    }
  }
}